WindowsFormsApp5/WindowsFormsApp5/dmn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfWorker">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Worker">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WorkerId" type="xsd:unsignedByte" />
              <xsd:element name="Work" type="xsd:string" />
              <xsd:element name="Qualification" type="xsd:string" />
              <xsd:element name="Experience" type="xsd:unsignedByte" />
              <xsd:element name="Wages" type="xsd:unsignedByte" />
              <xsd:element name="Insurance" type="xsd:boolean" />
              <xsd:element name="Vacation" type="xsd:unsignedByte" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>